{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Toystory</title>

    <!-- Favicons -->
    <link rel="shortcut icon" href="assets/images/favicon.ico">

    <!-- Vendor CSS (Icon Font) -->

    <link rel="stylesheet" href="assets/css/vendor/fontawesome.min.css" />
    <link rel="stylesheet" href="assets/css/vendor/pe-icon-7-stroke.min.css" />


    <!-- Plugins CSS (All Plugins Files) -->


    <link rel="stylesheet" href="assets/css/plugins/swiper-bundle.min.css" />
    <link rel="stylesheet" href="assets/css/plugins/animate.min.css" />
    <link rel="stylesheet" href="assets/css/plugins/lightgallery.min.css" />
    <link rel="stylesheet" href="assets/css/plugins/aos.min.css" />
    <link rel="stylesheet" href="assets/css/plugins/nice-select.min.css" />


    <!-- Main Style CSS -->
    <link rel="stylesheet" href="assets/css/style.css" />
</head>

<body>

    {% include 'Toystory/navigate.html' %}
    {% block content %}
    {% endblock content %}
    {% include 'Toystory/footer.html' %}
    <!-- Scripts -->
        <!-- Global Vendor, plugins JS -->

        <!-- Vendor JS -->


        <script src="assets/js/vendor/popper.min.js"></script>
        <script src="assets/js/vendor/bootstrap.min.js"></script>
        <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
        <script src="assets/js/vendor/jquery-migrate-3.3.2.min.js"></script>
        <script src="assets/js/vendor/modernizr-3.11.2.min.js"></script>



        <!-- Plugins JS -->


        <script src="assets/js/plugins/aos.min.js"></script>
        <script src="assets/js/plugins/jquery.ajaxchimp.min.js"></script>
        <script src="assets/js/plugins/jquery-ui.min.js"></script>
        <script src="assets/js/plugins/nice-select.min.js"></script>
        <script src="assets/js/plugins/swiper-bundle.min.js"></script>
        <script src="assets/js/plugins/countdown.min.js"></script>
        <script src="assets/js/plugins/lightgallery-all.min.js"></script>

        <!--Main JS-->
        <script src="assets/js/main.js"></script>
</body>

</html>