{% extends 'toystory/base.html' %}
{% load static %}
{% block content %}
<!-- Breadcrumb Section Start -->
<div class="section">

    <!-- Breadcrumb Area Start -->
    <div class="breadcrumb-area bg-primary">
        <div class="container">
            <div class="breadcrumb-content">
                <ul>
                    <li>
                        <a href="{% url 'index' %}"><i class="fa fa-home"></i> </a>
                    </li>
                    <li class="active"> Shopping Cart Page</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Area End -->

</div>
<!-- Breadcrumb Section End -->

<!-- Shopping Cart Section Start -->
<div class="section section-margin">
    <div class="container">

        <div class="row">
            <div class="col-12">

                <!-- Cart Table Start -->
                <div class="cart-table table-responsive">
                    <table class="table table-bordered">

                        <!-- Table Head Start -->
                        <thead>
                            <tr>
                                <th class="pro-thumbnail">Image</th>
                                <th class="pro-title">Product</th>
                                <th class="pro-price">Price</th>
                                <th class="pro-quantity">Quantity</th>
                                <th class="pro-subtotal">Total</th>
                                <th class="pro-remove">Remove</th>
                            </tr>
                        </thead>
                        <!-- Table Head End -->

                        <!-- Table Body Start -->
                        <tbody>
                            <tr>
                                <td class="pro-thumbnail"><a href="#"><img class="fit-image" src="{% static 'toystory/images/products/cart-product/1.jpg' %}" alt="Product" /></a></td>
                                <td class="pro-title"><a href="#">Yellow Toy For Baby</a></td>
                                <td class="pro-price"><span>$95.00</span></td>
                                <td class="pro-quantity">
                                    <div class="quantity">
                                        <div class="cart-plus-minus">
                                            <input class="cart-plus-minus-box" value="1" type="text">
                                            <div class="dec qtybutton">-</div>
                                            <div class="inc qtybutton">+</div>
                                        </div>
                                    </div>
                                </td>
                                <td class="pro-subtotal"><span>$95.00</span></td>
                                <td class="pro-remove"><a href="#"><i class="pe-7s-close"></i></a></td>
                            </tr>
                            <tr>
                                <td class="pro-thumbnail"><a href="#"><img class="fit-image" src="{% static 'toystory/images/products/cart-product/2.jpg' %}" alt="Product" /></a></td>
                                <td class="pro-title"><a href="#">Basic Toy Teddy</a></td>
                                <td class="pro-price"><span>$75.00</span></td>
                                <td class="pro-quantity">
                                    <div class="quantity">
                                        <div class="cart-plus-minus">
                                            <input class="cart-plus-minus-box" value="1" type="text">
                                            <div class="dec qtybutton">-</div>
                                            <div class="inc qtybutton">+</div>
                                        </div>
                                    </div>
                                </td>
                                <td class="pro-subtotal"><span>$75.00</span></td>
                                <td class="pro-remove"><a href="#"><i class="pe-7s-close"></i></a></td>
                            </tr>
                            <tr>
                                <td class="pro-thumbnail"><a href="#"><img class="fit-image" src="{% static 'toystory/images/products/cart-product/3.jpg' %}" alt="Product" /></a></td>
                                <td class="pro-title"><a href="#">Basic Toy Teddy</a></td>
                                <td class="pro-price"><span>$28.00</span></td>
                                <td class="pro-quantity">
                                    <div class="quantity">
                                        <div class="cart-plus-minus">
                                            <input class="cart-plus-minus-box" value="1" type="text">
                                            <div class="dec qtybutton">-</div>
                                            <div class="inc qtybutton">+</div>
                                        </div>
                                    </div>
                                </td>
                                <td class="pro-subtotal"><span>$56.00</span></td>
                                <td class="pro-remove"><a href="#"><i class="pe-7s-close"></i></a></td>
                            </tr>
                            <tr>
                                <td class="pro-thumbnail"><a href="#"><img class="fit-image" src="{% static 'toystory/images/products/cart-product/4.jpg' %}" alt="Product" /></a></td>
                                <td class="pro-title"><a href="#">Dinasor Toy For Kids</a></td>
                                <td class="pro-price"><span>$20.00</span></td>
                                <td class="pro-quantity">
                                    <div class="quantity">
                                        <div class="cart-plus-minus">
                                            <input class="cart-plus-minus-box" value="1" type="text">
                                            <div class="dec qtybutton">-</div>
                                            <div class="inc qtybutton">+</div>
                                        </div>
                                    </div>
                                </td>
                                <td class="pro-subtotal"><span>$40.00</span></td>
                                <td class="pro-remove"><a href="#"><i class="pe-7s-close"></i></a></td>
                            </tr>
                        </tbody>
                        <!-- Table Body End -->

                    </table>
                </div>
                <!-- Cart Table End -->

                <!-- Cart Button Start -->
                <div class="cart-button-section">
                    <a href="#" class="btn btn-primary btn-hover-dark">Update Cart</a>
                    <a href="#" class="btn btn-primary btn-hover-dark">Continue Shopping</a>
                    <a href="#" class="btn btn-primary btn-hover-dark">Clear Cart</a>
                </div>
                <!-- Cart Button End -->

            </div>
        </div>

        <div class="row mt-10 mb-n10">
            <div class="col-lg-6 mb-10">
                <div class="delivery-date-wrapper mb-6">
                    <h3 class="title">Delivery Date</h3>
                    <form action="#" class="date-input-label">
                        <label class="date-label" for="date-link">Pick a delivery date:</label>
                        <span class="date-in">
                                <input class="date-input" type="text" name="date" id="date-link">
                            </span>
                    </form>
                    <span>We do not deliver during the week-end.</span>
                </div>

                <div class="input-textarea">
                    <h3 class="title border-0 mb-0">Special instructions for seller</h3>
                    <textarea name="text" id="minitextarea" class="input-cupon-textarea" cols="30" rows="6"></textarea>
                </div>
            </div>
            <div class="col-lg-6 mb-10">

                <!-- Cart Calculation Area Start -->
                <div class="cart-calculator-wrapper">

                    <!-- Cart Calculate Items Start -->
                    <div class="cart-calculate-items">

                        <!-- Cart Calculate Items Title Start -->
                        <h3 class="title">Cart Totals</h3>
                        <!-- Cart Calculate Items Title End -->

                        <!-- Responsive Table Start -->
                        <div class="table-responsive">
                            <table class="table">
                                <tr>
                                    <td>Sub Total</td>
                                    <td>$230</td>
                                </tr>
                                <tr>
                                    <td>Shipping</td>
                                    <td>$70</td>
                                </tr>
                                <tr class="total">
                                    <td>Total</td>
                                    <td class="total-amount">$300</td>
                                </tr>
                            </table>
                        </div>
                        <!-- Responsive Table End -->

                    </div>
                    <!-- Cart Calculate Items End -->

                    <!-- Cart Checktout Button Start -->
                    <a href="{% url 'checkout' %}" class="btn btn-primary btn-hover-dark mt-6">Proceed To Checkout</a>
                    <!-- Cart Checktout Button End -->

                </div>
                <!-- Cart Calculation Area End -->

            </div>
        </div>

    </div>
</div>
<!-- Shopping Cart Section End -->

<!-- Mobile Menu Start -->
<div class="mobile-menu-wrapper">
    <div class="offcanvas-overlay"></div>

    <!-- Mobile Menu Inner Start -->
    <div class="mobile-menu-inner">

        <!-- Button Close Start -->
        <div class="offcanvas-btn-close">
            <i class="pe-7s-close"></i>
        </div>
        <!-- Button Close End -->

        <!-- Mobile Menu Inner Wrapper Start -->
        <div class="mobile-menu-inner-wrapper">
            <!-- Mobile Menu Search Box Start -->
            <div class="search-box-offcanvas">
                <form>
                    <input class="search-input-offcanvas" type="text" placeholder="Search product...">
                    <button class="search-btn"><i class="pe-7s-search"></i></button>
                </form>
            </div>
            <!-- Mobile Menu Search Box End -->

            <!-- Mobile Menu Start -->
            <div class="mobile-navigation">
                <nav>
                    <ul class="mobile-menu">
                        <li class="has-children">
                            <a href="{% url 'index' %}">Home <i class="fa fa-angle-down"></i></a>
                        </li>
                        <li class="has-children">
                            <a href="#">Shop <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                            <ul class="dropdown">
                                <li><a href="{% url 'shop' %}">Shop Grid</a></li>
                                <li><a href="{% url 'shop-left-sidebar' %}">Shop Left Sidebar</a></li>
                                <li><a href="{% url 'shop-right-sidebar' %}">Shop Right Sidebar</a></li>
                                <li><a href="{% url 'shop-list-fullwidth' %}">Shop List Fullwidth</a></li>
                                <li><a href="{% url 'shop-list-left-sidebar' %}">Shop List Left Sidebar</a></li>
                                <li><a href="{% url 'shop-list-right-sidebar' %}">Shop List Right Sidebar</a></li>
                                <li><a href="{% url 'wishlist' %}">Wishlist</a></li>
                                <li><a href="{% url 'cart' %}">Shopping Cart</a></li>
                                <li><a href="{% url 'checkout' %}">Checkout</a></li>
                                <li><a href="{% url 'compare' %}">Compare</a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="#">Product <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                            <ul class="dropdown">
                                <li><a href="{% url 'single-product' %}">Single Product</a></li>
                                <li><a href="{% url 'single-product-sale' %}">Single Product Sale</a></li>
                                <li><a href="{% url 'single-product-group' %}">Single Product Group</a></li>
                                <li><a href="{% url 'single-product-normal' %}">Single Product Normal</a></li>
                                <li><a href="{% url 'single-product-affiliate' %}">Single Product Affiliate</a></li>
                                <li><a href="{% url 'single-product-slider' %}">Single Product Slider</a></li>
                                <li><a href="{% url 'single-product-gallery-left' %}">Gallery Left</a></li>
                                <li><a href="{% url 'single-product-gallery-right' %}">Gallery Right</a></li>
                                <li><a href="{% url 'single-product-tab-style-left' %}">Tab Style Left</a></li>
                                <li><a href="{% url 'single-product-tab-style-right' %}">Tab Style Right</a></li>
                                <li><a href="{% url 'single-product-sticky-left' %}">Sticky Left</a></li>
                                <li><a href="{% url 'single-product-sticky-right' %}">Sticky Right</a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="#">Pages <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                            <ul class="dropdown">
                                <li><a href="{% url 'about' %}">About Us</a></li>
                                <li><a href="{% url 'contact' %}">Contact</a></li>
                                <li><a href="{% url 'faq' %}">Faq</a></li>
                                <li><a href="{% url 'error-404' %}">Error 404</a></li>
                                <li><a href="{% url 'my-account' %}">My Account</a></li>
                                <li><a href="{% url 'login' %}">Loging | Register</a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="#">Blog <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                            <ul class="dropdown">
                                <li><a href="{% url 'blog' %}">Blog</a></li>
                                <li><a href="{% url 'blog-left-sidebar' %}">Blog Left Sidebar</a></li>
                                <li><a href="{% url 'blog-right-sidebar' %}">Blog Right Sidebar</a></li>
                                <li><a href="{% url 'blog-details' %}">Blog Details</a></li>
                                <li><a href="{% url 'blog-details-sidebar' %}">Blog Details Sidebar</a></li>
                            </ul>
                        </li>
                        <li><a href="{% url 'about' %}">About</a></li>
                        <li><a href="{% url 'contact' %}">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <!-- Mobile Menu End -->

            <!-- Language, Currency & Link Start -->
            <div class="offcanvas-lag-curr mb-6">
                <div class="header-top-lan-curr-link">
                    <div class="header-top-lan dropdown">
                        <h4 class="title">Language:</h4>
                        <button class="dropdown-toggle" data-bs-toggle="dropdown">English <i class="fa fa-angle-down"></i></button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a class="dropdown-item" href="#">English</a></li>
                            <li><a class="dropdown-item" href="#">Japanese</a></li>
                            <li><a class="dropdown-item" href="#">Arabic</a></li>
                            <li><a class="dropdown-item" href="#">Romanian</a></li>
                        </ul>
                    </div>
                    <div class="header-top-curr dropdown">
                        <h4 class="title">Currency:</h4>
                        <button class="dropdown-toggle" data-bs-toggle="dropdown">USD <i class="fa fa-angle-down"></i></button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a class="dropdown-item" href="#">USD</a></li>
                            <li><a class="dropdown-item" href="#">Pound</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Language, Currency & Link End -->

            <!-- Contact Links/Social Links Start -->
            <div class="mt-auto bottom-0">

                <!-- Contact Links Start -->
                <ul class="contact-links">
                    <li><i class="fa fa-phone"></i><a href="#"> +012 3456 789</a></li>
                    <li><i class="fa fa-envelope-o"></i><a href="#"> info@example.com</a></li>
                    <li><i class="fa fa-clock-o"></i> <span>Monday - Sunday 9.00 - 18.00</span> </li>
                </ul>
                <!-- Contact Links End -->

                <!-- Social Widget Start -->
                <div class="widget-social">
                    <a title="Facebook" href="#"><i class="fa fa-facebook-f"></i></a>
                    <a title="Twitter" href="#"><i class="fa fa-twitter"></i></a>
                    <a title="Linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                    <a title="Youtube" href="#"><i class="fa fa-youtube"></i></a>
                    <a title="Vimeo" href="#"><i class="fa fa-vimeo"></i></a>
                </div>
                <!-- Social Widget Ende -->
            </div>
            <!-- Contact Links/Social Links End -->
        </div>
        <!-- Mobile Menu Inner Wrapper End -->

    </div>
    <!-- Mobile Menu Inner End -->
</div>
<!-- Mobile Menu End -->
{% endblock content %}