{% extends 'toystory/base.html' %}
{% load static %}
{% block content %}
<!-- Breadcrumb Section Start -->
<div class="section">

    <!-- Breadcrumb Area Start -->
    <div class="breadcrumb-area bg-primary">
        <div class="container">
            <div class="breadcrumb-content">
                <ul>
                    <li>
                        <a href="{% url 'index' %}"><i class="fa fa-home"></i> </a>
                    </li>
                    <li class="active"> Error 404 Page</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Area End -->

</div>
<!-- Breadcrumb Section End -->

<!-- Error 404 Section Start -->
<div class="section section-margin">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <!-- Error Form Start -->
                <div class="error_form">
                    <h1 class="title">404</h1>
                    <h2 class="sub-title">Opps! PAGE NOT BE FOUND</h2>
                    <p>Sorry but the page you are looking for does not exist, have been<br> removed, name changed or is temporarily unavailable.</p>
                    <form class="search-form-error mb-8" action="#">
                        <input class="input-text" placeholder="Search..." type="text">
                        <button class="submit-btn" type="submit"><i class="fa fa-search"></i></button>
                    </form>
                    <a href="{% url 'index' %}" class="btn btn-primary btn-hover-dark rounded-0">Back to home page</a>
                </div>
                <!-- Error Form End -->

            </div>
        </div>
    </div>
</div>
<!-- Error 404 Section End -->

<!-- Mobile Menu Start -->
<div class="mobile-menu-wrapper">
    <div class="offcanvas-overlay"></div>

    <!-- Mobile Menu Inner Start -->
    <div class="mobile-menu-inner">

        <!-- Button Close Start -->
        <div class="offcanvas-btn-close">
            <i class="pe-7s-close"></i>
        </div>
        <!-- Button Close End -->

        <!-- Mobile Menu Inner Wrapper Start -->
        <div class="mobile-menu-inner-wrapper">
            <!-- Mobile Menu Search Box Start -->
            <div class="search-box-offcanvas">
                <form>
                    <input class="search-input-offcanvas" type="text" placeholder="Search product...">
                    <button class="search-btn"><i class="pe-7s-search"></i></button>
                </form>
            </div>
            <!-- Mobile Menu Search Box End -->

            <!-- Mobile Menu Start -->
            <div class="mobile-navigation">
                <nav>
                    <ul class="mobile-menu">
                        <li class="has-children">
                            <a href="{% url 'index' %}">Home <i class="fa fa-angle-down"></i></a>
                        </li>
                        <li class="has-children">
                            <a href="#">Shop <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                            <ul class="dropdown">
                                <li><a href="{% url 'shop' %}">Shop Grid</a></li>
                                <li><a href="{% url 'shop-left-sidebar' %}">Shop Left Sidebar</a></li>
                                <li><a href="{% url 'shop-right-sidebar' %}">Shop Right Sidebar</a></li>
                                <li><a href="{% url 'shop-list-fullwidth' %}">Shop List Fullwidth</a></li>
                                <li><a href="{% url 'shop-list-left-sidebar' %}">Shop List Left Sidebar</a></li>
                                <li><a href="{% url 'shop-list-right-sidebar' %}">Shop List Right Sidebar</a></li>
                                <li><a href="{% url 'wishlist' %}">Wishlist</a></li>
                                <li><a href="{% url 'cart' %}">Shopping Cart</a></li>
                                <li><a href="{% url 'checkout' %}">Checkout</a></li>
                                <li><a href="{% url 'compare' %}">Compare</a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="#">Product <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                            <ul class="dropdown">
                                <li><a href="{% url 'single-product' %}">Single Product</a></li>
                                <li><a href="{% url 'single-product-sale' %}">Single Product Sale</a></li>
                                <li><a href="{% url 'single-product-group' %}">Single Product Group</a></li>
                                <li><a href="{% url 'single-product-normal' %}">Single Product Normal</a></li>
                                <li><a href="{% url 'single-product-affiliate' %}">Single Product Affiliate</a></li>
                                <li><a href="{% url 'single-product-slider' %}">Single Product Slider</a></li>
                                <li><a href="{% url 'single-product-gallery-left' %}">Gallery Left</a></li>
                                <li><a href="{% url 'single-product-gallery-right' %}">Gallery Right</a></li>
                                <li><a href="{% url 'single-product-tab-style-left' %}">Tab Style Left</a></li>
                                <li><a href="{% url 'single-product-tab-style-right' %}">Tab Style Right</a></li>
                                <li><a href="{% url 'single-product-sticky-left' %}">Sticky Left</a></li>
                                <li><a href="{% url 'single-product-sticky-right' %}">Sticky Right</a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="#">Pages <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                            <ul class="dropdown">
                                <li><a href="{% url 'about' %}">About Us</a></li>
                                <li><a href="{% url 'contact' %}">Contact</a></li>
                                <li><a href="{% url 'faq' %}">Faq</a></li>
                                <li><a href="{% url 'error-404' %}">Error 404</a></li>
                                <li><a href="{% url 'my-account' %}">My Account</a></li>
                                <li><a href="{% url 'login' %}">Loging | Register</a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="#">Blog <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                            <ul class="dropdown">
                                <li><a href="{% url 'blog' %}">Blog</a></li>
                                <li><a href="{% url 'blog-left-sidebar' %}">Blog Left Sidebar</a></li>
                                <li><a href="{% url 'blog-right-sidebar' %}">Blog Right Sidebar</a></li>
                                <li><a href="{% url 'blog-details' %}">Blog Details</a></li>
                                <li><a href="{% url 'blog-details-sidebar' %}">Blog Details Sidebar</a></li>
                            </ul>
                        </li>
                        <li><a href="{% url 'about' %}">About</a></li>
                        <li><a href="{% url 'contact' %}">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <!-- Mobile Menu End -->

            <!-- Language, Currency & Link Start -->
            <div class="offcanvas-lag-curr mb-6">
                <div class="header-top-lan-curr-link">
                    <div class="header-top-lan dropdown">
                        <h4 class="title">Language:</h4>
                        <button class="dropdown-toggle" data-bs-toggle="dropdown">English <i class="fa fa-angle-down"></i></button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a class="dropdown-item" href="#">English</a></li>
                            <li><a class="dropdown-item" href="#">Japanese</a></li>
                            <li><a class="dropdown-item" href="#">Arabic</a></li>
                            <li><a class="dropdown-item" href="#">Romanian</a></li>
                        </ul>
                    </div>
                    <div class="header-top-curr dropdown">
                        <h4 class="title">Currency:</h4>
                        <button class="dropdown-toggle" data-bs-toggle="dropdown">USD <i class="fa fa-angle-down"></i></button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a class="dropdown-item" href="#">USD</a></li>
                            <li><a class="dropdown-item" href="#">Pound</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Language, Currency & Link End -->

            <!-- Contact Links/Social Links Start -->
            <div class="mt-auto bottom-0">

                <!-- Contact Links Start -->
                <ul class="contact-links">
                    <li><i class="fa fa-phone"></i><a href="#"> +012 3456 789</a></li>
                    <li><i class="fa fa-envelope-o"></i><a href="#"> info@example.com</a></li>
                    <li><i class="fa fa-clock-o"></i> <span>Monday - Sunday 9.00 - 18.00</span> </li>
                </ul>
                <!-- Contact Links End -->

                <!-- Social Widget Start -->
                <div class="widget-social">
                    <a title="Facebook" href="#"><i class="fa fa-facebook-f"></i></a>
                    <a title="Twitter" href="#"><i class="fa fa-twitter"></i></a>
                    <a title="Linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                    <a title="Youtube" href="#"><i class="fa fa-youtube"></i></a>
                    <a title="Vimeo" href="#"><i class="fa fa-vimeo"></i></a>
                </div>
                <!-- Social Widget Ende -->
            </div>
            <!-- Contact Links/Social Links End -->
        </div>
        <!-- Mobile Menu Inner Wrapper End -->

    </div>
    <!-- Mobile Menu Inner End -->
</div>
<!-- Mobile Menu End -->
{% endblock content %}