{% extends 'toystory/base.html' %}
{% load static %}
{% block content %}
<!-- Breadcrumb Section Start -->
<div class="section">

    <!-- Breadcrumb Area Start -->
    <div class="breadcrumb-area bg-primary">
        <div class="container">
            <div class="breadcrumb-content">
                <ul>
                    <li>
                        <a href="{% url 'index' %}"><i class="fa fa-home"></i> </a>
                    </li>
                    <li class="active"> FAQ Page</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Area End -->

</div>
<!-- Breadcrumb Section End -->

<!-- Faq Section Start -->
<div class="section section-margin">

    <!-- Faq Content Start  -->
    <div class="faq_content_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="faq_content_wrapper" data-aos="fade-up" data-aos-delay="300">
                        <h4 class="title">Below are frequently asked questions, you may find the answer for yourself</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id erat sagittis, faucibus metus malesuada, eleifend turpis. Mauris semper augue id nisl aliquet, a porta lectus mattis. Nulla at tortor augue. In eget enim diam. Donec gravida tortor sem, ac fermentum nibh rutrum sit amet. Nulla convallis mauris vitae congue consequat. Donec interdum nunc purus, vitae vulputate arcu fringilla quis. Vivamus iaculis euismod dui.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Faq Content End -->


    <!--Accordion area-->
    <div class="accordion_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div id="accordionExample" class="accordion mb-n4">
                        <div class="card_dipult accordion-item mb-4" data-aos="fade-up" data-aos-delay="300">
                            <div class="card-header card_accor" id="headingOne">
                                <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Mauris congue euismod purus at semper. Morbi et vulputate massa?<i class="fa fa-plus"></i><i class="fa fa-minus"></i>
                                </button>
                            </div>
                            <div id="collapseOne" class="collapse accordion-collapse show border-0" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="card-body">
                                    <p>Donec mattis finibus elit ut tristique. Nullam tempus nunc eget arcu vulputate, eu porttitor tellus commodo. Aliquam erat volutpat. Aliquam consectetur lorem eu viverra lobortis. Morbi gravida, nisi id fringilla ultricies, elit lorem eleifend lorem</p>
                                </div>
                            </div>
                        </div>
                        <div class="card_dipult accordion-item mb-4" data-aos="fade-up" data-aos-delay="400">
                            <div class="card-header card_accor" id="headingTwo">
                                <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Donec mattis finibus elit ut tristique?
                                    <i class="fa fa-plus"></i>
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                            <div id="collapseTwo" class="collapse accordion-collapse border-0" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                <div class="card-body">
                                    <p>Donec mattis finibus elit ut tristique. Nullam tempus nunc eget arcu vulputate, eu porttitor tellus commodo. Aliquam erat volutpat. Aliquam consectetur lorem eu viverra lobortis. Morbi gravida, nisi id fringilla ultricies, elit lorem eleifend lorem</p>
                                </div>
                            </div>
                        </div>
                        <div class="card_dipult accordion-item mb-4" data-aos="fade-up" data-aos-delay="500">
                            <div class="card-header card_accor" id="headingThree">
                                <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Aenean elit orci, efficitur quis nisl at, accumsan?
                                    <i class="fa fa-plus"></i>
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                            <div id="collapseThree" class="collapse accordion-collapse border-0" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                <div class="card-body">
                                    <p>Donec mattis finibus elit ut tristique. Nullam tempus nunc eget arcu vulputate, eu porttitor tellus commodo. Aliquam erat volutpat. Aliquam consectetur lorem eu viverra lobortis. Morbi gravida, nisi id fringilla ultricies, elit lorem eleifend lorem</p>
                                </div>
                            </div>
                        </div>
                        <div class="card_dipult accordion-item mb-4" data-aos="fade-up" data-aos-delay="600">
                            <div class="card-header card_accor" id="headingfour">
                                <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    Pellentesque habitant morbi tristique senectus et netus?
                                    <i class="fa fa-plus"></i>
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                            <div id="collapseFour" class="collapse accordion-collapse border-0" aria-labelledby="headingfour" data-bs-parent="#accordionExample">
                                <div class="card-body">
                                    <p>Donec mattis finibus elit ut tristique. Nullam tempus nunc eget arcu vulputate, eu porttitor tellus commodo. Aliquam erat volutpat. Aliquam consectetur lorem eu viverra lobortis. Morbi gravida, nisi id fringilla ultricies, elit lorem eleifend lorem</p>
                                </div>
                            </div>
                        </div>
                        <div class="card_dipult accordion-item mb-4" data-aos="fade-up" data-aos-delay="100">
                            <div class="card-header card_accor" id="headingfive">
                                <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    Nam pellentesque aliquam metus?
                                    <i class="fa fa-plus"></i>
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                            <div id="collapseFive" class="collapse accordion-collapse border-0" aria-labelledby="headingfive" data-bs-parent="#accordionExample">
                                <div class="card-body">
                                    <p>Donec mattis finibus elit ut tristique. Nullam tempus nunc eget arcu vulputate, eu porttitor tellus commodo. Aliquam erat volutpat. Aliquam consectetur lorem eu viverra lobortis. Morbi gravida, nisi id fringilla ultricies, elit lorem eleifend lorem</p>
                                </div>
                            </div>
                        </div>
                        <div class="card_dipult accordion-item mb-4" data-aos="fade-up" data-aos-delay="200">
                            <div class="card-header card_accor" id="headingsix">
                                <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                    Aenean elit orci, efficitur quis nisl at?
                                    <i class="fa fa-plus"></i>
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                            <div id="collapseSix" class="collapse accordion-collapse border-0" aria-labelledby="headingsix" data-bs-parent="#accordionExample">
                                <div class="card-body">
                                    <p>Donec mattis finibus elit ut tristique. Nullam tempus nunc eget arcu vulputate, eu porttitor tellus commodo. Aliquam erat volutpat. Aliquam consectetur lorem eu viverra lobortis. Morbi gravida, nisi id fringilla ultricies, elit lorem eleifend lorem</p>
                                </div>
                            </div>
                        </div>
                        <div class="card_dipult accordion-item mb-4" data-aos="fade-up" data-aos-delay="300">
                            <div class="card-header card_accor" id="headingseven">
                                <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                    Morbi gravida, nisi id fringilla ultricies, elit lorem?
                                    <i class="fa fa-plus"></i>
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                            <div id="collapseSeven" class="collapse accordion-collapse border-0" aria-labelledby="headingseven" data-bs-parent="#accordionExample">
                                <div class="card-body">
                                    <p>Donec mattis finibus elit ut tristique. Nullam tempus nunc eget arcu vulputate, eu porttitor tellus commodo. Aliquam erat volutpat. Aliquam consectetur lorem eu viverra lobortis. Morbi gravida, nisi id fringilla ultricies, elit lorem eleifend lorem</p>
                                </div>
                            </div>
                        </div>
                        <div class="card_dipult accordion-item mb-4" data-aos="fade-up" data-aos-delay="400">
                            <div class="card-header card_accor" id="headingeight">
                                <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                    Aenean elit orci, efficitur quis nisl at, accumsan?
                                    <i class="fa fa-plus"></i>
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                            <div id="collapseEight" class="collapse accordion-collapse border-0" aria-labelledby="headingeight" data-bs-parent="#accordionExample">
                                <div class="card-body">
                                    <p>Donec mattis finibus elit ut tristique. Nullam tempus nunc eget arcu vulputate, eu porttitor tellus commodo. Aliquam erat volutpat. Aliquam consectetur lorem eu viverra lobortis. Morbi gravida, nisi id fringilla ultricies, elit lorem eleifend lorem</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Accordion area end-->

    <div class="container">
        <div class="row">
        </div>
    </div>
</div>
<!-- Faq Section End -->

<!-- Mobile Menu Start -->
<div class="mobile-menu-wrapper">
    <div class="offcanvas-overlay"></div>

    <!-- Mobile Menu Inner Start -->
    <div class="mobile-menu-inner">

        <!-- Button Close Start -->
        <div class="offcanvas-btn-close">
            <i class="pe-7s-close"></i>
        </div>
        <!-- Button Close End -->

        <!-- Mobile Menu Inner Wrapper Start -->
        <div class="mobile-menu-inner-wrapper">
            <!-- Mobile Menu Search Box Start -->
            <div class="search-box-offcanvas">
                <form>
                    <input class="search-input-offcanvas" type="text" placeholder="Search product...">
                    <button class="search-btn"><i class="pe-7s-search"></i></button>
                </form>
            </div>
            <!-- Mobile Menu Search Box End -->

            <!-- Mobile Menu Start -->
            <div class="mobile-navigation">
                <nav>
                    <ul class="mobile-menu">
                        <li class="has-children">
                            <a href="{% url 'index' %}">Home <i class="fa fa-angle-down"></i></a>
                        </li>
                        <li class="has-children">
                            <a href="#">Shop <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                            <ul class="dropdown">
                                <li><a href="{% url 'shop' %}">Shop Grid</a></li>
                                <li><a href="{% url 'shop-left-sidebar' %}">Shop Left Sidebar</a></li>
                                <li><a href="{% url 'shop-right-sidebar' %}">Shop Right Sidebar</a></li>
                                <li><a href="{% url 'shop-list-fullwidth' %}">Shop List Fullwidth</a></li>
                                <li><a href="{% url 'shop-list-left-sidebar' %}">Shop List Left Sidebar</a></li>
                                <li><a href="{% url 'shop-list-right-sidebar' %}">Shop List Right Sidebar</a></li>
                                <li><a href="{% url 'wishlist' %}">Wishlist</a></li>
                                <li><a href="{% url 'cart' %}">Shopping Cart</a></li>
                                <li><a href="{% url 'checkout' %}">Checkout</a></li>
                                <li><a href="{% url 'compare' %}">Compare</a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="#">Product <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                            <ul class="dropdown">
                                <li><a href="{% url 'single-product' %}">Single Product</a></li>
                                <li><a href="{% url 'single-product-sale' %}">Single Product Sale</a></li>
                                <li><a href="{% url 'single-product-group' %}">Single Product Group</a></li>
                                <li><a href="{% url 'single-product-normal' %}">Single Product Normal</a></li>
                                <li><a href="{% url 'single-product-affiliate' %}">Single Product Affiliate</a></li>
                                <li><a href="{% url 'single-product-slider' %}">Single Product Slider</a></li>
                                <li><a href="{% url 'single-product-gallery-left' %}">Gallery Left</a></li>
                                <li><a href="{% url 'single-product-gallery-right' %}">Gallery Right</a></li>
                                <li><a href="{% url 'single-product-tab-style-left' %}">Tab Style Left</a></li>
                                <li><a href="{% url 'single-product-tab-style-right' %}">Tab Style Right</a></li>
                                <li><a href="{% url 'single-product-sticky-left' %}">Sticky Left</a></li>
                                <li><a href="{% url 'single-product-sticky-right' %}">Sticky Right</a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="#">Pages <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                            <ul class="dropdown">
                                <li><a href="{% url 'about' %}">About Us</a></li>
                                <li><a href="{% url 'contact' %}">Contact</a></li>
                                <li><a href="{% url 'faq' %}">Faq</a></li>
                                <li><a href="{% url 'error-404' %}">Error 404</a></li>
                                <li><a href="{% url 'my-account' %}">My Account</a></li>
                                <li><a href="{% url 'login' %}">Loging | Register</a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="#">Blog <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                            <ul class="dropdown">
                                <li><a href="{% url 'blog' %}">Blog</a></li>
                                <li><a href="{% url 'blog-left-sidebar' %}">Blog Left Sidebar</a></li>
                                <li><a href="{% url 'blog-right-sidebar' %}">Blog Right Sidebar</a></li>
                                <li><a href="{% url 'blog-details' %}">Blog Details</a></li>
                                <li><a href="{% url 'blog-details-sidebar' %}">Blog Details Sidebar</a></li>
                            </ul>
                        </li>
                        <li><a href="{% url 'about' %}">About</a></li>
                        <li><a href="{% url 'contact' %}">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <!-- Mobile Menu End -->

            <!-- Language, Currency & Link Start -->
            <div class="offcanvas-lag-curr mb-6">
                <div class="header-top-lan-curr-link">
                    <div class="header-top-lan dropdown">
                        <h4 class="title">Language:</h4>
                        <button class="dropdown-toggle" data-bs-toggle="dropdown">English <i class="fa fa-angle-down"></i></button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a class="dropdown-item" href="#">English</a></li>
                            <li><a class="dropdown-item" href="#">Japanese</a></li>
                            <li><a class="dropdown-item" href="#">Arabic</a></li>
                            <li><a class="dropdown-item" href="#">Romanian</a></li>
                        </ul>
                    </div>
                    <div class="header-top-curr dropdown">
                        <h4 class="title">Currency:</h4>
                        <button class="dropdown-toggle" data-bs-toggle="dropdown">USD <i class="fa fa-angle-down"></i></button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a class="dropdown-item" href="#">USD</a></li>
                            <li><a class="dropdown-item" href="#">Pound</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Language, Currency & Link End -->

            <!-- Contact Links/Social Links Start -->
            <div class="mt-auto bottom-0">

                <!-- Contact Links Start -->
                <ul class="contact-links">
                    <li><i class="fa fa-phone"></i><a href="#"> +012 3456 789</a></li>
                    <li><i class="fa fa-envelope-o"></i><a href="#"> info@example.com</a></li>
                    <li><i class="fa fa-clock-o"></i> <span>Monday - Sunday 9.00 - 18.00</span> </li>
                </ul>
                <!-- Contact Links End -->

                <!-- Social Widget Start -->
                <div class="widget-social">
                    <a title="Facebook" href="#"><i class="fa fa-facebook-f"></i></a>
                    <a title="Twitter" href="#"><i class="fa fa-twitter"></i></a>
                    <a title="Linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                    <a title="Youtube" href="#"><i class="fa fa-youtube"></i></a>
                    <a title="Vimeo" href="#"><i class="fa fa-vimeo"></i></a>
                </div>
                <!-- Social Widget Ende -->
            </div>
            <!-- Contact Links/Social Links End -->
        </div>
        <!-- Mobile Menu Inner Wrapper End -->

    </div>
    <!-- Mobile Menu Inner End -->
</div>
<!-- Mobile Menu End -->
{% endblock content %}